<body{
  background-color: black;  
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
h1{ 
    color: paleturquoise;
   font-size: 40px;
}
p{
     font-size: 25px;
}
header{ 
    border-bottom: aquamarine;
    margin: 2px;
    padding: 10px;
    color: azure;
}
 .chamada{
 background-color: chartreuse;
 padding: 80px;
 display: flex;
  justify-content: center;
 }
 .chamada-texto{ 
  margin-right: 8%;
 }
 img{
  height: 200px;
 }
 .categoria-video {
display: flex;
overflow-x: auto; /* permite rolagem horizontal */
gap: 15px; /* espaço entre vídeos */
padding: 20px;
scroll-behavior: smooth; /* rolagem suave */
}

.categoria-video::-webkit-scrollbar {
height: 8px;
}

.categoria-video::-webkit-scrollbar-thumb {
background-color: rgb(21, 189, 35);
border-radius: 4px;
}
.categoria {
padding-left: 20px;
padding-right: 20px;
}